@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}

h1 {
  margin-bottom: 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 30px;
}

.card {
  width: 400px;
  aspect-ratio: 4/6;
  padding: 20px;
  border: 3px solid #222;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-radius: 14px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
